body{
    background-color: rgb(214, 209, 209);

}
.event-list li:hover {
    color:rgb(203, 23, 206)

}
h1{
    color:rgb(115, 25, 141);
    margin-left: 180px;
}
h2{
    color:rgba(99, 6, 85, 0.801);
    margin-left: 230px;
}

.ok{
    width: 600px;
    height: 500px;
    margin: auto;
}
